html,
body {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #4d4d4d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.background_image {
  background-image: url(images/hero.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.background_image_cover {
  width: 100%;
  height: 100vh;
  background-image: url(images/profile.png);
  background-size: cover;
  background-color: transparent;


}

.content {
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

header img {
  border-radius: 50%;
  width: 20%;

}

.intro {
  padding-top: 30px;
}

.title {
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
  line-height: 1.3;
  font-weight: 300;
  color: white;
  white-space: nowrap;
  /* padding-top: 30px; */
  transform: rotate(-5deg);
  text-transform: uppercase;
  border-right: 3px solid rgba(255, 255, 255, .75);
  overflow: hidden;
  /* transform: translateY(-50%); */
}

.line-1 {
  padding-top: 140px;
  transform: rotate(-5deg);
  margin: 0 auto;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter {
  animation: typewriter 3s steps(20) infinite alternate;
}

@keyframes typewriter {
  0% {
    width: 0;
  }

  50% {
    width: 8em;
  }

  100% {
    width: 8em;
  }
}


.position {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 500;
  color: white;
  padding-top: 30px;
  white-space: nowrap;
  font-family: "Space Mono", Arial, serif;
  text-transform: uppercase;
}

.social-icons {
  color: white;
  padding: 20px;
  display: flex;
}


.social-icons li a i {
  font-size: 25px;

}

.social-icons li {
  padding: 5px;
}


.img_about {
  margin-top: -60px;
  margin-left: 35px;
  object-fit: none;
}

.about-me {
  padding-top: 50px;
  background: #f7f7f7;
}

.about-me .info {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.about-me .basic-info {
  width: 30%;
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

.about-me .description {
  width: 60%;
  margin-top: 20px;
  text-align: justify;
  margin: auto;
}

.about-me .description p {
  width: 80%;
  margin: auto;
  line-height: 2;
}

.about-me .basic-info .value {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
}

.about-me .basic-info .type {
  width: 30%;
  display: inline-block;
  color: #000;
  font-weight: bold;
}

.about-me .basic-info li {
  padding-top: 15px;
}

.my-resume {
  padding-top: 100px;
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
  background: #d2eaea3f;
}

.my-resume a>h2:hover {
  transform: scale(1.1);
}

.my-resume h2 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
}

.timeline {
  padding-top: 50px;

}

.timeline span {
  display: inline-block;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background: #b8a07e;

}

.timeline .educations,
.timeline .jobs {
  padding-top: 40px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 900px;
  text-align: left;
}

.job {
  width: 40%;
  border-left: 3px solid #b8a07e;
  border-style: dashed;
  margin-bottom: 50px;
  padding-left: 15px;
}



.timeline .jobs .titleJob {

  color: #000;
  font-family: "Space Mono",
    Arial,
    serif;
  font-weight: 500;
  margin: 0 0 10px 0;
  font-size: 20px;
}

.timeline .jobs .company {
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.timeline .job .date {
  font-size: 14px;
  font-weight: 300;
  color: hsl(0, 1%, 62%);

}

.timeline .jobs .technologies {
  font-size: 16px;
}

.my-projects {
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  background: #f7f7f7;
}

.projects {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  text-align: left;
}

.project {
  width: 30%;
  margin-bottom: 50px;
  padding-left: 15px;
}

.titleProject {
  color: #000;
  font-family: "Space Mono",
    Arial,
    serif;
  font-weight: 500;
  margin: 0 0 10px 0;
  font-size: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 15px;
}

.card img {
  padding-top: 10px;
  height: 260px;
  object-fit: contain;
  width: 50%;
  margin: auto;
}

.card p {
  padding: 5px;
  font-size: 15px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background: #b8a07e;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 12px;
}

.card button:hover {
  opacity: 0.7;
}

.voluntary-work {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(255, 144, 0, 0.9);
}

.voluntary-work .voluntry-title {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  padding-top: 70px;
}

.voluntary-work .voluntary img {
  border-radius: 50%;
  width: 30%;
  max-height: 130px;
  max-width: 130px;
  min-height: 100px;
  min-width: 100px;
}

.voluntary-work .voluntary img:hover {
  transform: scale(1.3);
}

.voluntary-work .voluntary {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.voluntary-work .voluntary .voluntary-group {
  display: flex;
  flex-direction: row;

}

.voluntary-work .voluntary .voluntary-group .voluntary-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33.3%;
}

.voluntary-work .voluntary .voluntary-group .voluntary-info h4 {
  padding-top: 15px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: "Space Mono", Arial, serif;
  line-height: 1.1;
}

.voluntary-work .voluntary .voluntary-group .voluntary-info p {
  padding-top: 15px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  line-height: 1.7;
}

.contact-us .contact-container {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
}

.contact-us .container .get-in-touch {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-us .container .get-in-touch h4 {
  text-transform: uppercase;
  color: rgba(255, 144, 0, 0.9);
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
}

.contact-us .container .get-in-touch p {
  font-size: 16px;
  font-weight: normal;
  color: #bfbfbf;
  font-family: "Space Mono", Arial, serif;
}

.contact-us .container .contact {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact-us .container .contact h4 {
  color: rgba(255, 144, 0, 0.9);
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-us .container .contact textarea,
.contact-us .container .contact input {
  border-radius: 20px;
  border: 1px solid;
  padding-top: 8px;
  padding-bottom: 8px;
  border-color: rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  text-align: center;
}

.skills .skills-container {
  padding-top: 100px;
  padding-bottom: 50px;
}

.skills .container h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding-bottom: 50px;


}

.skills .container .skills-in-circle {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.skills .container .skills-in-circle .skill-circle {
  width: 50%;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.skills .container .skills-in-circle .skill-circle .border-90 {
  border-bottom: 5px solid;
  width: 90%;
  padding-bottom: 19px;
  animation: animation90 2s infinite;
  animation-direction: alternate;
}

.skills .container .skills-in-circle .skill-circle .border-80 {
  border-bottom: 5px solid;
  width: 90%;
  padding-bottom: 19px;
  animation: animation80 2s infinite;
  animation-direction: alternate;
}

.skills .container .skills-in-circle .skill-circle .border-70 {
  border-bottom: 5px solid;
  width: 90%;
  padding-bottom: 19px;
  animation: animation70 2s infinite;
  animation-direction: alternate;
}

@keyframes animation70 {
  0% {
    border-image: linear-gradient(to right, #FF9000 70%, whitesmoke 30%) 5;
  }

  50% {
    border-image: linear-gradient(to right, #9254029c 70%, whitesmoke 30%) 5;
  }

  100% {
    border-image: linear-gradient(to right, #4b2b029c 70%, whitesmoke 30%) 5;
  }

}

@keyframes animation80 {
  0% {
    border-image: linear-gradient(to right, #FF9000 80%, whitesmoke 20%) 5;
  }

  50% {
    border-image: linear-gradient(to right, #9254029c 80%, whitesmoke 20%) 5;
  }

  100% {
    border-image: linear-gradient(to right, #4b2b029c 80%, whitesmoke 20%) 5;
  }

}

@keyframes animation90 {
  0% {
    border-image: linear-gradient(to right, #FF9000 90%, whitesmoke 10%) 5;
  }

  50% {
    border-image: linear-gradient(to right, #9254029c 90%, whitesmoke 10%) 5;
  }

  100% {
    border-image: linear-gradient(to right, #4b2b029c 90%, whitesmoke 10%) 5;
  }

}


.experince {
  display: flex;
  flex-direction: row;
  background-color: #FF9000;
  width: 100%;
}

.experince .container h4 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  padding-top: 70px;
}

.experince .experince_work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.experince .experince_work h5 {
  padding-top: 15px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: "Space Mono", Arial, serif;
  line-height: 1.1;
}

.experince .experince_work p {
  padding-top: 15px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  line-height: 1.7;
}

.experince .experince_work .work-info {
  border: 3px solid;
  border-color: white;
  width: 40%;
  margin: 20px;
  text-align: center;
  border-radius: 25px;
}

.experince .experince_work .work-info .work-detail {
  display: flex;
  justify-content: space-around;
}

.experince .experince_work .work-info .work-detail button {
  margin: 10px;
  padding: 5px;
}

.experince .experince_work .work-info .work-detail p {
  width: 70%;
}

.experince .experince_work .work-info .work-detail button:hover {
  background-color: #fff;
  color: #333;
  text-align: center;
  border-radius: 25px;

}

@media (max-width: 800px) {

  .projects,
  .jobs,
  .info {
    flex-direction: column;
    align-content: center;
    width: 100%;
  }

  .description {
    width: 100%;
  }

  .basic-info {
    visibility: hidden;
  }

  .project,
  .job {
    width: 100%;
  }

  .project {
    padding-left: 0;
  }

  .background_image_cover {
    background-image: none;
  }

  .title {
    font-size: 30px;
  }

  .background_image {
    background-size: cover;
  }
}

.contact-us {
  margin-bottom: 50px;
}


@media screen and (max-width: 700px) {

  .about-me .description {
    width: 100%;
  }

  .contact-us .container .contact,
  .skills .container .skills-in-circle .skill-circle {
    width: 100%;
    padding: 20px;
  }

  .about-me .description {
    text-align: left;
  }

  .contact-us .contact-container,
  .voluntary-work .voluntary .voluntary-group,
  .skills .contact-container .skills-in-circle,
  .experince .experince_work {
    flex-direction: column;
  }

  .background_image_cover {
    background-image: none;
  }

  .content {
    flex-direction: column;
  }

}
